/* Assignment colors */
$primary: #1c4980;
$text-dark: #383838;

.dialog-title {
  color: $text-dark;
  font-weight: 600;
}

.cancel-btn {
  color: $text-dark !important;
  border: 1px solid $text-dark;
  height: 48px;
  border-radius: 24px;
  padding: 0 20px;
}

.add-btn {
  color: #fff;
  background-color: $primary;
  height: 48px;
  border-radius: 24px;
  padding: 0 24px;
}

.add-btn:disabled {
  opacity: 0.5;
}
