<div class="container p-4">
  <h2 mat-dialog-title class="dialog-title mb-3">Add User</h2>

  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    mat-dialog-content
    class="d-flex flex-column gap-3"
  >
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />

      @if (
        form.get("name")?.hasError("required") && form.get("name")?.touched
      ) {
        <mat-error>Name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />

      @if (
        form.get("email")?.hasError("required") && form.get("email")?.touched
      ) {
        <mat-error>Email is required</mat-error>
      }

      @if (form.get("email")?.hasError("email") && form.get("email")?.touched) {
        <mat-error>Enter a valid email</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="Admin">Admin</mat-option>
        <mat-option value="Editor">Editor</mat-option>
        <mat-option value="Viewer">Viewer</mat-option>
      </mat-select>

      @if (
        form.get("role")?.hasError("required") && form.get("role")?.touched
      ) {
        <mat-error>Role is required</mat-error>
      }
    </mat-form-field>

    <div mat-dialog-actions class="d-flex justify-content-end gap-2 mt-2">
      <!-- <button mat-button type="button" class="cancel-btn" (click)="closeForm()">
        Cancel
      </button> -->

      <button
        mat-button
        type="submit"
        class="add-btn"
        [disabled]="form.invalid"
      >
        Add
      </button>
    </div>
  </form>
</div>
