<div class="container mt-4">
  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="page-title">User Dashboard</h5>

    <button mat-button class="add-user-btn" (click)="openForm()">
      Add User
    </button>
  </div>

  <div class="row g-4">
    <!-- TABLE CARD -->
    <div class="col-lg-7">
      <mat-card class="dashboard-card">
        <table mat-table [dataSource]="dataSource" class="w-100">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let u">{{ u.name }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let u">{{ u.email }}</td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let u">{{ u.role }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="cols"></tr>
          <tr mat-row *matRowDef="let row; columns: cols"></tr>
        </table>
      </mat-card>
    </div>

    <!-- CHART CARD -->
    <div class="col-lg-5">
      <mat-card class="dashboard-card chart-card">
        <h6 class="chart-title">User Roles Distribution</h6>

        <div class="chart-wrapper">
          <canvas #chart></canvas>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <div class="d-flex justify-content-end">
        <mat-paginator
          [pageSize]="defaultPageSize"
          [pageSizeOptions]="pageSizeOptions"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
