$primary: #1c4980;
$text-dark: #383838;

.page-title {
  color: $text-dark;
  font-weight: 600;
}

.add-user-btn {
  color: $primary !important;
  border: 1px solid $primary;
  border-radius: 6px;
  padding: 0 40px;
  height: 40px;
}

.dashboard-card {
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
}

th {
  color: $text-dark;
  font-weight: 600;
}

td {
  color: $text-dark;
}

.chart-card {
  text-align: center;
}

.chart-title {
  color: $text-dark;
  font-weight: 600;
  margin-bottom: 12px;
}

.chart-wrapper {
  height: 280px;
  position: relative;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.custom-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.06);
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  // display: flex;
}

.custom-modal {
  width: 800px;
  min-height: 200px;
  background: #fff;
  border-radius: 12px;
  color: #000;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  padding: 20px;
  z-index: 1000;
}
